BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
PROHIBIT SITE "C8" ;

IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# TODO: Assign ports for these inputs (i.e. LOCATE COMP "pitch_pwm" SITE "T8")
IOBUF PORT "pitch_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "roll_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "throttle_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "yaw_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

# TODO: Assign ports for these outputs (i.e. LOCATE COMP "motor_1_pwm" SITE "M8")
IOBUF PORT "motor_1_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_2_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_3_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_4_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;




