BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

PROHIBIT SITE "C8";

IOBUF PORT "aux1_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "aux2_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "mode_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "pitch_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "roll_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "scl" IO_TYPE=LVCMOS33;
IOBUF PORT "sda" IO_TYPE=LVCMOS33;
IOBUF PORT "throttle_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "yaw_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "motor_1_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "motor_2_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "motor_3_pwm" IO_TYPE=LVCMOS33;
IOBUF PORT "motor_4_pwm" IO_TYPE=LVCMOS33;