BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
PROHIBIT SITE "C8" ;
IOBUF PORT "pitch_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "roll_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "scl" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "sda" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "throttle_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN  ;
IOBUF PORT "yaw_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_1_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_2_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_3_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "motor_4_pwm" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
LOCATE COMP "led_data_out[0]" SITE "H11" ;
LOCATE COMP "led_data_out[1]" SITE "J13" ;
LOCATE COMP "led_data_out[2]" SITE "J11" ;
LOCATE COMP "led_data_out[3]" SITE "L12" ;
LOCATE COMP "led_data_out[4]" SITE "K11" ;
LOCATE COMP "led_data_out[5]" SITE "L13" ;
LOCATE COMP "led_data_out[6]" SITE "N15" ;
LOCATE COMP "led_data_out[7]" SITE "P16" ;
LOCATE COMP "scl" SITE "A9" ;
LOCATE COMP "sda" SITE "C9" ;
LOCATE COMP "rstn_imu" SITE "E15" ;
LOCATE COMP "resetn" SITE "N1" ;
